$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;
$DeepSkyBlue	:#00BFFF;
$FloralWhite	:#FFFAF0;
$blue           : #22678C;
$lighterBlue    : #48525C;
$yellow         : #ffa949;
$BlueViolet     :#8A2BE2;
$Black          :#000000;
$PaleVioletRed	:#DB7093;
$flex: flex;
$justify: center;
$alignItems: center
